@import "tailwindcss";

:root {
  --background: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --font-sans: var(--font-montserrat);
}

body {
  background: transparent;
  font-family: var(--font-sans), sans-serif;
}